<a href="https://colab.research.google.com/github/divyansh1195/Halliburton-Landmark-Learning/blob/master/Data%20Science%20using%20Python(Halliburton)/ML_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns
from datetime import datetime

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
dataset=pd.read_csv('facies_labels.csv')

In [3]:
dataset

       Depth      GR  ...  FaciesLabel         FaciesDescription
0     2793.0  77.450  ...         FSiS  Nonmarine fine siltstone
1     2793.5  78.260  ...         FSiS  Nonmarine fine siltstone
2     2794.0  79.050  ...         FSiS  Nonmarine fine siltstone
3     2794.5  86.100  ...         FSiS  Nonmarine fine siltstone
4     2795.0  74.580  ...         FSiS  Nonmarine fine siltstone
...      ...     ...  ...          ...                       ...
4144  3120.5  46.719  ...           MS                  Mudstone
4145  3121.0  44.563  ...           MS                  Mudstone
4146  3121.5  49.719  ...           MS                  Mudstone
4147  3122.0  51.469  ...           MS                  Mudstone
4148  3122.5  50.031  ...           MS                  Mudstone

[4149 rows x 10 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4149 entries, 0 to 4148
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Depth              4149 non-null   float64
 1   GR                 4149 non-null   float64
 2   ILD_log10          4149 non-null   float64
 3   DeltaPHI           4149 non-null   float64
 4   PHIND              4149 non-null   float64
 5   PE                 3232 non-null   float64
 6   Facies             4149 non-null   int64
 7   WellName           4149 non-null   object
 8   FaciesLabel        4149 non-null   object
 9   FaciesDescription  4149 non-null   object
dtypes: float64(6), int64(1), object(3)
memory usage: 324.3+ KB

In [5]:
#ever column has 4149 records except PE, which shows that data is missing

**EXPLORATORY DATA ANALYSIS**

In [6]:
dataset['WellName'].value_counts()
#count no. of wells and no. records of each well

CROSS H CATTLE     501
SHRIMPLIN          471
ALEXANDER D        466
NEWBY              463
LUKE G U           461
SHANKLE            449
KIMZEY A           439
NOLAN              415
CHURCHMAN BIBLE    404
Recruit F9          80
Name: WellName, dtype: int64

In [7]:
#Data Preprocessing
#Taking Care of Missing Data
dataset[dataset.isnull().any(axis=1)].head()#axis=1 -> iterate through rows

      Depth     GR  ...  FaciesLabel         FaciesDescription
471  2887.5  88.71  ...         FSiS  Nonmarine fine siltstone
472  2888.0  92.71  ...         FSiS  Nonmarine fine siltstone
473  2888.5  94.54  ...         FSiS  Nonmarine fine siltstone
474  2889.0  95.31  ...         FSiS  Nonmarine fine siltstone
475  2889.5  93.79  ...         FSiS  Nonmarine fine siltstone

[5 rows x 10 columns]

In [8]:
dataset['PE'].isnull().value_counts()#missing values in PE

False    3232
True      917
Name: PE, dtype: int64

In [9]:
#"dropna()" removes the rows where the data is missing
dataset_na=dataset.dropna()
dataset_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3232 entries, 0 to 4148
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Depth              3232 non-null   float64
 1   GR                 3232 non-null   float64
 2   ILD_log10          3232 non-null   float64
 3   DeltaPHI           3232 non-null   float64
 4   PHIND              3232 non-null   float64
 5   PE                 3232 non-null   float64
 6   Facies             3232 non-null   int64
 7   WellName           3232 non-null   object
 8   FaciesLabel        3232 non-null   object
 9   FaciesDescription  3232 non-null   object
dtypes: float64(6), int64(1), object(3)
memory usage: 277.8+ KB

In [10]:
dataset_na.head(10)#first 10 rows after removal

    Depth     GR  ILD_log10  ...   WellName  FaciesLabel         FaciesDescription
0  2793.0  77.45      0.664  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
1  2793.5  78.26      0.661  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
2  2794.0  79.05      0.658  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
3  2794.5  86.10      0.655  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
4  2795.0  74.58      0.647  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
5  2795.5  73.97      0.636  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
6  2796.0  73.72      0.630  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
7  2796.5  75.65      0.625  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
8  2797.0  73.79      0.624  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone
9  2797.5  76.89      0.615  ...  SHRIMPLIN         FSiS  Nonmarine fine siltstone

[10 rows x 10 columns]

**REMOVE UNWANTED COLUMNS**

In [11]:
#ML doesn't work with Categorical / Alphabetical data. So, remove the categorical data from dataset.

In [12]:
dataset_na.drop(['WellName','FaciesLabel', 'FaciesDescription'], axis=1, inplace=True)
dataset_na.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    Depth     GR  ILD_log10  DeltaPHI   PHIND   PE  Facies
0  2793.0  77.45      0.664       9.9  11.915  4.6       3
1  2793.5  78.26      0.661      14.2  12.565  4.1       3
2  2794.0  79.05      0.658      14.8  13.050  3.6       3
3  2794.5  86.10      0.655      13.9  13.115  3.5       3
4  2795.0  74.58      0.647      13.5  13.300  3.4       3
5  2795.5  73.97      0.636      14.0  13.385  3.6       3
6  2796.0  73.72      0.630      15.6  13.930  3.7       3
7  2796.5  75.65      0.625      16.5  13.920  3.5       3
8  2797.0  73.79      0.624      16.2  13.980  3.4       3
9  2797.5  76.89      0.615      16.9  14.220  3.5       3

**FEATURE SELECTION**

In [13]:
#select features from the dataset
features=['Depth', 'GR', 'ILD_log10','DeltaPHI','PHIND','PE']
features_data=dataset_na[features]
features_data.head(10)

    Depth     GR  ILD_log10  DeltaPHI   PHIND   PE
0  2793.0  77.45      0.664       9.9  11.915  4.6
1  2793.5  78.26      0.661      14.2  12.565  4.1
2  2794.0  79.05      0.658      14.8  13.050  3.6
3  2794.5  86.10      0.655      13.9  13.115  3.5
4  2795.0  74.58      0.647      13.5  13.300  3.4
5  2795.5  73.97      0.636      14.0  13.385  3.6
6  2796.0  73.72      0.630      15.6  13.930  3.7
7  2796.5  75.65      0.625      16.5  13.920  3.5
8  2797.0  73.79      0.624      16.2  13.980  3.4
9  2797.5  76.89      0.615      16.9  14.220  3.5

In [14]:
#similarly create for target
target=['Facies']
target_data=dataset_na[target]
target_data.head(10)

   Facies
0       3
1       3
2       3
3       3
4       3
5       3
6       3
7       3
8       3
9       3

In [15]:
dataset_na.shape

(3232, 7)

**SPLITTING THE DATASET**

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_data, target_data, test_size = 0.3, random_state = 0)

In [17]:
X_train.shape

(2262, 6)

In [18]:
y_train.shape

(2262, 1)

In [19]:
X_test.shape

(970, 6)